/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .login_container {
    flex-direction: column;
    height: auto;
  }

  .login_container__right,
  .login_container__left {
    flex: 1;
    padding: 20px;
    height: auto;
    /* max-width: 100%; */
    justify-content: center;
    align-items: center;
  }

  .login_container__left img {
    height: auto;
    margin-bottom: 20px;
  }

  .login_form_wrapper {
    width: 90%;
    margin: auto;
  }
}

/* Estilos para tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .login_container__left,
  .login_container__right {
    padding: 20px;
  }

  .login_form_wrapper {
    width: 90%;
    margin: auto;
  }
}

/* Estilos compartilhados para todos os dispositivos */
.login_container {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
}

.login_container__right {
  flex: 2;
  padding: 20px;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container__left {
  flex: 1;
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container__left img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.login_form_wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 461px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_form_wrapper h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-style: normal;
  color: #212529;
}

input.ng-invalid.ng-touched {
  border: 0.9px solid #dc3545;
}

small {
  color: #dc3545;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.btn:not([disabled]):hover {
  background-color: var(--btn-hover-bg);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main_btn {
  background-color: var(--main-btn-bg);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  transition: all 300ms ease-in-out;
  height: 32px;
}

.main_btn:hover {
  color: #fff;
}

.redirect {
  margin-top: 20px;
}

.invalid_msg {
  display: flex;
  align-items: center;
  font-size: 0.69rem;
}

.invalid_msg .material-icons {
  margin-right: 5px;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.form-control {
  font-size: 12px;
  line-height: 18px;
}

.regular_text_two {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #7d7373;
}

.login_form_wrapper form {
  margin-top: 20px;
}

.login_form_wrapper .form_check {
  display: flex;
  justify-content: space-between;
}

.login_form_wrapper a {
  color: #032033;
  font-weight: 500;
}
